data/
venv/
.idea/
src/__pycache__

src/sankey_matplot.ipynb
checkpoint/hparams.yaml
checkpoint/checkpoints/epoch=34-step=42384.ckpt
checkpoint/checkpoints/checkpoint.ckpt
src/simple_attention_model/__pycache__/dataset.cpython-39.pyc
src/simple_attention_model/__pycache__/model.cpython-39.pyc
checkpoint/events.out.tfevents.1645432586.cod-hpo-m8v85.1.0
src/simple_attention_model/model.py
generation_metrics.png
metrics.pickle
metrics.zip
.vscode/launch.json
../SupportSetAugmentation/k8s/training_simple_embedding_attention.yaml
num_k1_max_iter15.png
src/simple_attention_model/sandbox.py
*.pkl
*.zst
*.arrow
*.pt
*.pickle
.ipynb_checkpoints/
.pytest_cache/
.iframes_figures/